
    
    html, body{
        padding: 0px;
        margin: 0px;
        width: 100%;
        position: absolute;
        height: 100%;
        overflow-x: hidden;
    }
    
    body{
        margin: 0%;
    }
     .grid-container{
         text-align: center;
        background-color: rgb(206, 193, 193);
        color: white;
        display: grid;
        grid-template-columns: 1.5fr 2fr 1.5fr;
        gap: 5px;
    }
    .grid-item{
        border: 1px solid black;
        font-size: 30px;
        height:125px;
    }
    
    #totalCost{
        border: 1px black solid;
        height: 75px;
        font-size: 30px;
        
    }

    
    .grid-item img{
        
        margin-left: 263px;
        margin-top: -130px;
        width: 120px;           
    }
    .grid-item img:hover{
        cursor: pointer;
    } 
    
    #clearBtn{
        width: 125px;
        font-size: 125%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border-radius: 9px;
        color: rgb(204, 189, 189);
        background: #000000;
        background: -moz-radial-gradient(center, #000000 0%, #CB1B1B 73%, #750E2A 100%);
        background: -webkit-radial-gradient(center, #000000 0%, #CB1B1B 73%, #750E2A 100%);
        background: radial-gradient(ellipse at center, #000000 0%, #CB1B1B 73%, #750E2A 100%);
        border: transparent;
    }

    .img-container{
        background-color: hotpink;
        position: relative;
        height: auto;
        width: auto;    
    }

    #totalSum{
        font-size: 150%;
        position: absolute;
        top: 47%;
        left: 34%;
        border-style: groove;
        border-width: 15px;
        border-color: hotpink;
        
    }

    .img-container img{
        width: 100%;
        height: auto;
        padding: 0;
        margin: 0;
    }

    /* #showcase{
        width: 150px;
        height: 150px;
    } */